@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 5rem 10rem 5rem 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 1100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.navSlotHeader {
  color: rgba(0, 0, 0, 0.7);
}

.navSlotHeader:hover {
  color: red;
}

main {
  display: flex;
  flex-direction: row;
  width: 1100px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 720px;
}

.mainArticleBlockLeft {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.startPageText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.startPageText>h1 {
  font-size: 45px;
  color: #020120;
  font-weight: 800;
}

.startPageTextBlock {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
}

.text {
  font-size: 15px;
  color: rgba(2, 4, 29, 0.8);
  text-align: start;
  padding-bottom: 3rem;
  line-height: 25px;
}

.button {
  width: 185px;
  height: 50px;
  text-align: center;
  color: white;
  background-color: #f15d51;
  border: none;
  letter-spacing: 5px;
}

.button:hover {
  background-color: #00001a;
}

.mainArticleBlockRight {
  padding-left: 2rem;
  width: 350px;
  height: 720px;
}

.blockNew {
  height: 500px;
  background-color: #00001a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blockNew>h1 {
  color: #e6a851;
  padding: 1rem 0 0 1rem;
}

.newBlock {
  padding: 1rem;
  border-bottom: 1px solid rgba(266, 266, 266, 0.3);
}

.newBlock>h2 {
  font-size: 18px;
  padding: 1rem 0 1rem 0;
  font-weight: 900;
}

.newBlock>p {
  font-size: 14px;
  color: rgba(266, 266, 266, 0.8);
  line-height: 25px;
  padding-bottom: 0.94rem;
}

.newsBlock {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
}

.card {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
  height: 125px;
  width: 320px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  line-height: 25px;
}

.cardInfo>h2 {
  font-size: 30px;
  color: #c5c3ce;
  padding-bottom: 1rem;
}

.cardInfo>h3 {
  font-size: 15px;
  font-weight: 900;
  padding-bottom: 0.5rem;
}

.cardInfo>p {
  font-size: 12px;
  color: gray;
}